* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  &:hover {
    cursor: pointer;
  }
}
a {
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
  &:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
  }
}
/*固定头部部分*/
.headerFix {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  line-height: 45px;
  z-index: 99999;
  display: none;
  box-shadow: 0 2px 10px #ccc;
  h2 {
    position: absolute;
    top: 11px;
    left: 210px;
    width: 132px;
    height: 25px;
    overflow: hidden;
    a {
      display: block;
      height: 25px;
      text-indent: -9999px;
      background: url(../../img/logo.png) 0 -353px no-repeat;
    }
  }
  ul {
    display: flex;
    float: left;
    margin-left: 156px;
    height: 45px;
    font-size: 14px;
    li {
      padding: 0 7px;
      a {
        color: #665656;
        &:hover {
          color: #c9483c;
        }
      }
      &:nth-of-type(1) {
        a {
          color: #c9483c;
        }
      }
    }
  }
}
/*头部固定搜索部分*/
.herdFix-search {
  position: relative;
  .search {
    outline: none;
    color: #868686;
    line-height: 12px;
    font-size: 12px;
    width: 173px;
    height: 12px;
    padding: 9px;
    border: 1px solid #c9483c;
    background: #fff;
    margin-left: 176px;
  }
  .showBox {
    position: absolute;
    top: 40px;
    right: 49px;
    width: 193px;
    background: #fff;
    display: block;
    overflow: hidden;
    box-shadow: 0 5px 7px #ccc;
    z-index: 9999;
    box-sizing: border-box;
    display: none;
    li {
      margin: 5px 10px;
    }
  }
  .btn-seach {
    position: absolute;
    top: 6px;
    outline: none;
    border: none;
    width: 34px;
    height: 34px;
    background: url(../../img/logo.png) no-repeat -4px -396px;
  }
}
/*版心*/
.area {
  width: 980px;
  margin: 0 auto;
}
.head {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}
/*头部导航栏*/
.head-nav {
  display: flex;
  font-size: 12px;
  float: left;
  height: 35px;
  line-height: 35px;
  li {
    span {
      color: #888;
      padding: 0 12px;
    }
    a {
      color: #888;
      &:hover {
        color: #c9483c;
      }
    }
  }
}
.login {
  float: right;
  font-size: 12px;
  line-height: 35px;
  ul {
    display: flex;
    li {
      a {
        color: #888;
        display: flex;
      }
    }
    span {
      padding: 0 12px;
      color: #888;
    }
  }
  .triangle {
    display: block;
    border: 3px solid #888;
    height: 0;
    margin: 16px 0 0 4px;
    border-color: #888 transparent transparent transparent;
  }
}
/*登陆框*/
.login-box {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -270px;
  border: 1px solid #ccc;
  background: #fff;
  min-width: 540px;
  z-index: 12;
  display: none;
  .login-title {
    line-height: 46px;
    height: 46px;
    width: 100%;
    background: url(../../img/loginlogo.png) repeat-x 0 -519px;
  }
  h4 {
    float: left;
    background: url(../../img/loginlogo.png) no-repeat -273px 11px;
    padding: 0 0 0 44px;
  }
  a {
    display: block;
    float: right;
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    top: 11px;
    background: url(../../img/close.png) no-repeat 0px -27px;
    text-indent: -9999px;
  }
}
/*搜索框部分*/
.nav-seach {
  height: 106px;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  h1 {
    display: block;
    height: 36px;
    width: 194px;
    a {
      height: 36px;
      padding-left: 0;
      display: block;
      background: url(../../img/logo.png) no-repeat 0 0;
      text-indent: -9999px;
    }
  }
}
/*搜索框*/
.search-box {
  .search {
    float: left;
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    height: 36px;
    outline: none;
    margin-top: 2px;
  }
  .btn-seach {
    float: left;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    background: url(../../img/logo.png) no-repeat 0 -54px;
  }
  .showBox {
    overflow: hidden;
    border: 1px solid #ccc;
    position: absolute;
    background: #fff;
    width: 300px;
    display: none;
    top: 113px;
    box-shadow: 0 5px 7px #ccc;
    z-index: 9999;
    box-sizing: border-box;
    display: block;
    li {
      margin: 5px 10px;
    }
  }
}
.clouds {
  font-size: 12px;
  a {
    color: #888;
    display: block;
    padding: 11px 10px;
    box-sizing: border-box;
    border: 1px dashed #ccc;
  }
}
.nav-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #665656;
  ul {
    display: flex;
    height: 35px;
    li {
      padding: 0 20px;
      &:hover {
        border-bottom: 2px solid #c9483c;
      }
      a {
        color: #665656;
        display: block;
        width: 100%;
        height: 100%;
        font-weight: bold;
      }
    }
  }
}
.section-adv {
  display: flex;
  margin-top: 17px;
  justify-content: space-between;
  .section-nav {
    width: 236px;
    border: 2px solid #ccc;
    font-size: 12px;
    p {
      line-height: 24px;
      padding: 0 18px;
    }
    li {
      border-bottom: 1px solid #ccc;
      &:nth-of-type(4) {
        border: none;
      }
      p {
        &:nth-of-type(1) {
          font-size: 16px;
          padding-top: 11px;
        }
        &:nth-of-type(3) {
          padding-bottom: 11px;
        }
      }
      a {
        color: #655;
      }
      .line {
        &:after {
          content: "|";
          padding: 0 6px;
        }
      }
    }
  }
  .swiper-container {
    width: 720px;
  }
}
.section-recommend {
  margin-top: 20px;
  .recommend-title {
    line-height: 30px;
    margin-bottom: 20px;
    h2 {
      margin-right: 20px;
    }
  }
  a {
    color: #655;
    font-size: 12px;
  }
  .recommend-word {
    &:after {
      content: "|";
      padding: 0 8px;
    }
  }
}
.recommend-box {
  ul {
    border: 1px solid #ebe6e1;
    border-right: 0;
    li {
      width: 281px;
      position: relative;
      float: left;
      padding: 22px;
      border-right: 1px solid #ebe6e1;
      &:hover {
        background: #fafafa;
      }
      img {
        float: left;
        margin-right: 10px;
      }
      p {
        color: #888;
        line-height: 18px;
        margin: 6px 0 5px;
      }
      .disc {
        height: 54px;
        line-height: 18px;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        letter-spacing: 1px;
        overflow: hidden;
        font-size: 12px;
      }
      div {
        float: left;
      }
    }
    .huai-ready {
      font-size: 12px;
      position: absolute;
      bottom: 22px;
    }
  }
}
/*国风中文网*/
.huai-box {
  margin-top: 40px;
  .huai-introduce {
    float: left;
    width: 700px;
    ul {
      li {
        float: left;
        width: 310px;
        padding: 17px;
        border: 1px solid #ccc;
        &:hover {
          background: #fafafa;
        }
        &:nth-of-type(2n) {
          border-left: none;
        }
        &:nth-of-type(1) {
          border-bottom: none;
        }
        &:nth-of-type(2) {
          border-bottom: none;
        }
        div {
          float: left;
        }
        .disc {
          white-space: normal;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          letter-spacing: 1px;
          overflow: hidden;
          -webkit-line-clamp: 3;
        }
      }
    }
    .more {
      color: #ccc;
      font-size: 12px;
    }
    .huai-word {
      margin-left: 10px;
      position: relative;
      a {
        font-size: 16px;
        font-weight: bold;
        color: #4c4c4c;
      }
      .huai-ready {
        font-size: 14px;
        position: absolute;
        left: 0;
        bottom: -60px;
        &:after {
          content: ">";
          font-size: 12px;
          color: #ccc;
        }
      }
    }
    div {
      p {
        word-break: normal;
        font-size: 12px;
        width: 180px;
        -webkit-line-clamp: 3;
        margin: 6px 0 5px;
      }
    }
  }
  .huai-right {
    width: 260px;
    float: right;
  }
  .showImg {
    border: 1px solid #ccc;
    img {
      width: 74px;
      height: 104px;
      margin-left: 34px;
    }
    li {
      border-bottom: 1px solid #ccc;
      p {
        height: 42px;
        line-height: 42px;
        padding: 0 14px 0 22px;
        font-size: 14px;
        color: #655;
        span {
          margin-right: 16px;
          color: #aaa;
        }
      }
      div {
        padding: 20px 14px 8px 20px;
        position: relative;
        height: 116px;
        .num {
          position: absolute;
          top: 14px;
          left: 20px;
          color: #c9483c;
          font-size: 18px;
          font-family: arial;
        }
      }
    }
    div {
      .title {
        position: absolute;
        left: 146px;
        font-weight: bold;
      }
    }
    .title {
      i {
        font-style: normal;
        font-size: 10px;
        display: block;
        line-height: 30px;
        color: #888;
      }
    }
    .showMore {
      a {
        display: block;
        line-height: 41px;
        padding-left: 40px;
        color: #ccc;
        font-size: 12px;
        &:hover {
          color: #d43f3a;
        }
        &:before {
          content: "→";
          font-weight: bold;
          margin-right: 6px;
        }
      }
    }
  }
}
.hidden {
  display: none;
}
.show {
  display: block;
}
/*采薇书院*/
.Ineu-box {
  margin: 20px 0;
  .Ineu-left {
    float: left;
    width: 700px;
    ul {
      li {
        float: left;
        width: 310px;
        padding: 17px;
        border: 1px solid #ccc;
        &:hover {
          background: #fafafa;
        }
        &:nth-of-type(2n) {
          border-left: none;
        }
        &:nth-of-type(1) {
          border-bottom: none;
        }
        &:nth-of-type(2) {
          border-bottom: none;
        }
        div {
          float: left;
        }
      }
    }
    .more {
      color: #ccc;
      font-size: 12px;
    }
    .huai-word {
      margin-left: 10px;
      position: relative;
      a {
        font-size: 16px;
        font-weight: bold;
        color: #4c4c4c;
      }
      .huai-ready {
        font-size: 14px;
        position: absolute;
        left: 0;
        bottom: -60px;
        &:after {
          content: ">";
          font-size: 12px;
          color: #ccc;
        }
      }
    }
    div {
      p {
        width: 180px;
        font-size: 12px;
        height: 54px;
        line-height: 18px;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        letter-spacing: 1px;
        overflow: hidden;
        color: #888;
        line-height: 18px;
        margin: 6px 0 5px;
      }
    }
  }
  .Ineu-right {
    width: 260px;
    float: right;
  }
  .Ineu-showImg {
    border: 1px solid #ccc;
    img {
      width: 74px;
      height: 104px;
      margin-left: 34px;
    }
    li {
      border-bottom: 1px solid #ccc;
      p {
        height: 42px;
        line-height: 42px;
        padding: 0 14px 0 22px;
        font-size: 14px;
        color: #655;
        span {
          margin-right: 16px;
          color: #aaa;
        }
      }
      div {
        padding: 20px 14px 8px 20px;
        position: relative;
        height: 116px;
        .num {
          position: absolute;
          top: 14px;
          left: 20px;
          color: #c9483c;
          font-size: 18px;
          font-family: arial;
        }
      }
    }
    div {
      .title {
        position: absolute;
        font-weight: bold;
        left: 146px;
      }
    }
    .title {
      i {
        font-style: normal;
        font-size: 10px;
        display: block;
        color: #888;
        line-height: 30px;
      }
    }
    .showMore {
      a {
        display: block;
        line-height: 41px;
        padding-left: 40px;
        color: #ccc;
        font-size: 12px;
        &:hover {
          color: #d43f3a;
        }
        &:before {
          content: "→";
          font-weight: bold;
          margin-right: 6px;
        }
      }
    }
  }
}
/*精品图书*/
.quality-box {
  margin-bottom: 20px;
  .quality-left {
    width: 700px;
    float: left;
    .more {
      font-size: 12px;
      color: #888;
    }
    li {
      float: left;
      width: 114px;
      padding: 10px 11px;
      height: 235px;
    }
    h3 {
      font-size: 16px;
      line-height: 22px;
      max-height: 44px;
      overflow: hidden;
      margin: 6px 0;
      color: #4c4c4c;
    }
    .book {
      border: 1px solid #ccc;
      padding: 10px 9px;
      li {
        &:hover {
          background: #fafafa;
        }
      }
      p {
        font-size: 12px;
        line-height: 22px;
        color: #888;
      }
    }
  }
  .quality-right {
    width: 260px;
    float: right;
  }
  .quality-showImg {
    border: 1px solid #ccc;
    img {
      width: 74px;
      height: 104px;
      margin-left: 34px;
    }
    li {
      border-bottom: 1px solid #ccc;
      p {
        height: 42px;
        line-height: 42px;
        padding: 0 14px 0 22px;
        font-size: 14px;
        color: #655;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span {
          margin-right: 16px;
          color: #aaa;
        }
      }
      div {
        padding: 20px 14px 8px 20px;
        position: relative;
        height: 116px;
        .num {
          position: absolute;
          top: 14px;
          left: 20px;
          color: #c9483c;
          font-size: 18px;
          font-family: arial;
        }
      }
    }
    div {
      .title {
        position: absolute;
        font-weight: bold;
        left: 146px;
      }
    }
    .title {
      i {
        font-style: normal;
        font-size: 10px;
        display: block;
        color: #888;
        line-height: 30px;
      }
    }
    .showMore {
      a {
        display: block;
        line-height: 41px;
        padding-left: 40px;
        color: #ccc;
        font-size: 12px;
        &:hover {
          color: #d43f3a;
        }
        &:before {
          content: "→";
          font-weight: bold;
          margin-right: 6px;
        }
      }
    }
  }
}
/*关于云阅读*/
.read-box {
  ul {
    border: 1px solid #ebe6e1;
    border-right: none;
    li {
      position: relative;
      float: left;
      width: 156px;
      height: 175px;
      padding: 16px 20px 6px 67px;
      border-right: 1px solid #ebe6e1;
      &:hover {
        background: #fafafa;
      }
    }
  }
  li {
    span {
      position: absolute;
      width: 36px;
      height: 36px;
      top: 20px;
      left: 16px;
      background: url(../../img/chat.png) no-repeat 0px -25px;
    }
    h4 {
      color: #4c4c4c;
      font-size: 16px;
      font-weight: 700;
    }
    h6 {
      color: #655;
      font-size: 12px;
      margin-bottom: 4px;
    }
    p {
      font-size: 12px;
      color: #888;
      line-height: 20px;
    }
    .btn {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 67px;
      border: 1px solid #c9483c;
      color: #c9483c;
      width: 74px;
      height: 22px;
      text-align: center;
      line-height: 22px;
      border-radius: 5px;
    }
    .gz {
      a {
        display: inline-block;
        width: 19px;
        height: 16px;
        margin-left: 5px;
        position: relative;
        top: 5px;
        background: url(../../img/chat.png) no-repeat -26px -131px;
        &:nth-of-type(2) {
          background-position: 0px -131px;
        }
        &:nth-of-type(3) {
          background-position: -52px -131px;
        }
        &:hover {
          background-position-y: -150px;
        }
      }
    }
  }
}
/*尾部*/
.index_bottom {
  background-color: #fafafa;
  margin-top: 79px;
  border-top: 1px solid #eee;
}
.ib_nav {
  width: 980px;
  margin: 0 auto;
  padding: 38px 0 55px;
}
.ib_ul {
  padding: 0 88px;
  height: 144px;
  li {
    float: left;
    width: 115px;
    padding: 0 23px 0 33px;
    border-right: 1px solid #eee;
    h3 {
      color: #655;
      font-size: 16px;
    }
    p {
      line-height: 30px;
      height: 120px;
      overflow: hidden;
    }
    a {
      white-space: nowrap;
      color: #888;
      margin: 0 5px 0 0;
      font-size: 12px;
    }
  }
  .ib_li {
    padding-left: 0;
  }
}
.com_flink,
.com_flink a,
.com_footer2 {
  font-size: 12px;
  color: gray;
  text-align: center;
}
.com_foot {
  background: #fafafa;
  border-top: 1px solid #eee;
}
.com_footer {
  width: 980px;
  margin: 0 auto;
  padding: 40px 0 50px;
}
.com_footer1 {
  line-height: 17px;
  .sep {
    margin: 0 6px;
    color: #ccc;
  }
}
.com_flink {
  a {
    &:hover {
      color: #c9483c;
    }
  }
}
.com_footer2 {
  padding: 10px 0 7px 0;
}
.com_footer3 {
  width: 980px;
  height: 16px;
  margin: 0 auto;
  background: url(../../images/shareto_03.jpg) no-repeat center;
}
/*右侧固定栏*/
.fix-right {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: 525px;
  a {
    display: block;
    width: 50px;
    height: 50px;
    z-index: 5000;
    margin-bottom: 10px;
    background: url(../../img/nav_r.png) no-repeat 0px 0px;
  }
}
