* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
}

.clearfix {
    *zoom: 1;
}


/*固定头部部分*/

.headerFix {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
    line-height: 45px;
    z-index: 99999;
    display: none;
    box-shadow: 0 2px 10px #ccc;
    h2 {
        position: absolute;
        top: 11px;
        left: 210px;
        width: 132px;
        height: 25px;
        overflow: hidden;
        a {
            display: block;
            height: 25px;
            text-indent: -9999px;
            background: url(../img/logo.png) 0 -353px no-repeat;
        }
    }
    ul {
        display: flex;
        float: left;
        margin-left: 156px;
        height: 45px;
        font-size: 14px;
        li {
            padding: 0 7px;
            a {
                color: #665656;
                &:hover {
                    color: #c9483c;
                }
            }
        }
    }
}

.headerFix ul li:nth-of-type(1) a {
    color: #c9483c;
}


/*头部固定搜索部分*/

.herdFix-search {
    position: relative;
    .search {
        outline: none;
        color: #868686;
        line-height: 12px;
        font-size: 12px;
        /*float: left;*/
        width: 173px;
        height: 12px;
        padding: 9px;
        border: 1px solid #c9483c;
        background: #fff;
        margin-left: 176px;
    }
    .showBox {
        position: absolute;
        top: 40px;
        right: 49px;
        width: 193px;
        background: #fff;
        display: block;
        overflow: hidden;
        box-shadow: 0 5px 7px #ccc;
        z-index: 9999;
        box-sizing: border-box;
        display: none;
        li {
            margin: 5px 10px;
        }
    }
    .btn-seach {
        position: absolute;
        top: 6px;
        outline: none;
        border: none;
        width: 34px;
        height: 34px;
        background: url(../img/logo.png) no-repeat -4px -396px;
    }
}


/*版心*/

.area {
    width: 980px;
    margin: 0 auto;
}

.head {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
}


/*头部导航栏*/

.head-nav {
    display: flex;
    font-size: 12px;
    float: left;
    height: 35px;
    line-height: 35px;
    li {
        span {
            color: #888;
            padding: 0 12px;
        }
        a {
            color: #888;
            &:hover {
                color: #c9483c;
            }
        }
    }
}

.login {
    float: right;
    font-size: 12px;
    line-height: 35px;
    ul {
        display: flex;
        li {
            a {
                color: #888;
                display: flex;
            }
        }
        span {
            padding: 0 12px;
            color: #888;
        }
    }
    .triangle {
        display: block;
        border: 3px solid #888;
        height: 0;
        margin: 16px 0 0 4px;
        border-color: #888 transparent transparent transparent;
    }
}


/*登陆框*/

.login-box {
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -270px;
    border: 1px solid #ccc;
    background: #fff;
    min-width: 540px;
    z-index: 12;
    display: none;
    .login-title {
        line-height: 46px;
        height: 46px;
        width: 100%;
        background: url(../img/loginlogo.png) repeat-x 0 -519px;
    }
    h4 {
        float: left;
        background: url(../img/loginlogo.png) no-repeat -273px 11px;
        padding: 0 0 0 44px;
    }
    a {
        display: block;
        float: right;
        position: absolute;
        right: 8px;
        width: 24px;
        height: 24px;
        top: 11px;
        background: url(../img/close.png) no-repeat 0px -27px;
        text-indent: -9999px;
    }
}


/*搜索框部分*/

.nav-seach {
    height: 106px;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    h1 {
        display: block;
        height: 36px;
        width: 194px;
        a {
            height: 36px;
            padding-left: 0;
            display: block;
            background: url(../img/logo.png) no-repeat 0 0;
            text-indent: -9999px;
        }
    }
}


/*搜索框*/

.search-box {
    .search {
        float: left;
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        height: 36px;
        outline: none;
        margin-top: 2px;
    }
    .btn-seach {
        float: left;
        outline: none;
        border: none;
        width: 40px;
        height: 40px;
        background: url(../img/logo.png) no-repeat 0 -54px;
    }
    .showBox {
        overflow: hidden;
        border: 1px solid #ccc;
        position: absolute;
        background: #fff;
        width: 300px;
        /*height: 100px;*/
        display: none;
        top: 113px;
        box-shadow: 0 5px 7px #ccc;
        z-index: 9999;
        box-sizing: border-box;
        display: block;
        li {
            margin: 5px 10px;
        }
    }
}

.clouds {
    font-size: 12px;
    a {
        color: #888;
        /* margin-top: 17px; */
        display: block;
        padding: 11px 10px;
        box-sizing: border-box;
        border: 1px dashed #ccc;
    }
}

.nav-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #665656;
    ul {
        display: flex;
        height: 35px;
        li {
            padding: 0 20px;
            a {
                color: #665656;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.section-adv {
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    .section-nav {
        width: 236px;
        border: 2px solid #ccc;
        font-size: 12px;
        p {
            line-height: 24px;
            padding: 0 18px;
        }
        li {
            border-bottom: 1px solid #ccc;
            a {
                color: #655;
            }
            .line {
                &:after {
                    content: "|";
                    padding: 0 6px;
                }
            }
        }
    }
    .swiper-container {
        width: 720px;
    }
}
.section-adv .section-nav li:nth-of-type(4) {
    border: none;
}

.section-adv .section-nav li p:nth-of-type(1) {
    font-size: 16px;
    padding-top: 11px;
}

.section-adv .section-nav li p:nth-of-type(3) {
    padding-bottom: 11px;
}