@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block; }

/*固定头部部分*/
.headerFix {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  line-height: 45px;
  z-index: 99999;
  display: none;
  box-shadow: 0 2px 10px #ccc; }
  .headerFix h2 {
    position: absolute;
    top: 11px;
    left: 210px;
    width: 132px;
    height: 25px;
    overflow: hidden; }
    .headerFix h2 a {
      display: block;
      height: 25px;
      text-indent: -9999px;
      background: url(../../img/logo.png) 0 -353px no-repeat; }
  .headerFix ul {
    display: flex;
    float: left;
    margin-left: 156px;
    height: 45px;
    font-size: 14px; }
    .headerFix ul li {
      padding: 0 7px; }
      .headerFix ul li a {
        color: #665656; }
        .headerFix ul li a:hover {
          color: #c9483c; }
      .headerFix ul li:nth-of-type(1) a {
        color: #c9483c; }

/*头部固定搜索部分*/
.herdFix-search {
  position: relative; }
  .herdFix-search .search {
    outline: none;
    color: #868686;
    line-height: 12px;
    font-size: 12px;
    width: 173px;
    height: 12px;
    padding: 9px;
    border: 1px solid #c9483c;
    background: #fff;
    margin-left: 176px; }
  .herdFix-search .showBox {
    position: absolute;
    top: 40px;
    right: 49px;
    width: 193px;
    background: #fff;
    display: block;
    overflow: hidden;
    box-shadow: 0 5px 7px #ccc;
    z-index: 9999;
    box-sizing: border-box;
    display: none; }
    .herdFix-search .showBox li {
      margin: 5px 10px; }
  .herdFix-search .btn-seach {
    position: absolute;
    top: 6px;
    outline: none;
    border: none;
    width: 34px;
    height: 34px;
    background: url(../../img/logo.png) no-repeat -4px -396px; }

/*版心*/
.area {
  width: 980px;
  margin: 0 auto; }

.head {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #ccc;
  background: #fafafa; }

/*头部导航栏*/
.head-nav {
  display: flex;
  font-size: 12px;
  float: left;
  height: 35px;
  line-height: 35px; }
  .head-nav li span {
    color: #888;
    padding: 0 12px; }
  .head-nav li a {
    color: #888; }
    .head-nav li a:hover {
      color: #c9483c; }

.login {
  float: right;
  font-size: 12px;
  line-height: 35px; }
  .login ul {
    display: flex; }
    .login ul li a {
      color: #888;
      display: flex; }
    .login ul span {
      padding: 0 12px;
      color: #888; }
  .login .triangle {
    display: block;
    border: 3px solid #888;
    height: 0;
    margin: 16px 0 0 4px;
    border-color: #888 transparent transparent transparent; }

/*登陆框*/
.login-box {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -270px;
  border: 1px solid #ccc;
  background: #fff;
  min-width: 540px;
  z-index: 12;
  display: none; }
  .login-box .login-title {
    line-height: 46px;
    height: 46px;
    width: 100%;
    background: url(../../img/loginlogo.png) repeat-x 0 -519px; }
  .login-box h4 {
    float: left;
    background: url(../../img/loginlogo.png) no-repeat -273px 11px;
    padding: 0 0 0 44px; }
  .login-box a {
    display: block;
    float: right;
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    top: 11px;
    background: url(../../img/close.png) no-repeat 0px -27px;
    text-indent: -9999px; }

/*搜索框部分*/
.nav-seach {
  height: 106px;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }
  .nav-seach h1 {
    display: block;
    height: 36px;
    width: 194px; }
    .nav-seach h1 a {
      height: 36px;
      padding-left: 0;
      display: block;
      background: url(../../img/logo.png) no-repeat 0 0;
      text-indent: -9999px; }

/*搜索框*/
.search-box .search {
  float: left;
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  height: 36px;
  outline: none;
  margin-top: 2px; }

.search-box .btn-seach {
  float: left;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  background: url(../../img/logo.png) no-repeat 0 -54px; }

.search-box .showBox {
  overflow: hidden;
  border: 1px solid #ccc;
  position: absolute;
  background: #fff;
  width: 300px;
  display: none;
  top: 113px;
  box-shadow: 0 5px 7px #ccc;
  z-index: 9999;
  box-sizing: border-box;
  display: block; }
  .search-box .showBox li {
    margin: 5px 10px; }

.clouds {
  font-size: 12px; }
  .clouds a {
    color: #888;
    display: block;
    padding: 11px 10px;
    box-sizing: border-box;
    border: 1px dashed #ccc; }

.nav-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #665656; }
  .nav-nav ul {
    display: flex;
    height: 35px; }
    .nav-nav ul li {
      padding: 0 20px; }
      .nav-nav ul li:hover {
        border-bottom: 2px solid #c9483c; }
      .nav-nav ul li a {
        color: #665656;
        display: block;
        width: 100%;
        height: 100%; }

/*购物车部分*/
.shopBox {
  width: 100%;
  height: 600px;
  border: 1px solid #000;
  margin-bottom: 50px;
  margin-top: 10px; }
  .shopBox .operation {
    line-height: 50px;
    height: 50px;
    padding-left: 50px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between; }
    .shopBox .operation a {
      text-decoration: underline;
      width: 100%;
      height: 100%;
      color: #0086b3;
      margin-right: 20px; }
      .shopBox .operation a .num:after {
        content: ")"; }
      .shopBox .operation a .num:before {
        content: "("; }

.swiper-wrapper {
  font-size: 12px;
  display: flex;
  padding: 20px; }
  .swiper-wrapper img {
    float: left; }
  .swiper-wrapper .swiper-slide {
    width: 200px; }
  .swiper-wrapper .description {
    margin: 10px 0;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    letter-spacing: 1px;
    overflow: hidden;
    -webkit-line-clamp: 3; }

.swiper-container .swiper-wrapper .jianjie {
  float: left;
  width: 200px;
  margin: 0 20px; }

.swiper-wrapper .shopping-car, .baoyou, .iconfont {
  display: none; }

/*尾部*/
.index_bottom {
  background-color: #fafafa;
  margin-top: 79px;
  border-top: 1px solid #eee; }

.ib_nav {
  width: 980px;
  margin: 0 auto;
  padding: 38px 0 55px; }

.ib_ul {
  padding: 0 88px;
  height: 144px; }
  .ib_ul li {
    float: left;
    width: 115px;
    padding: 0 23px 0 33px;
    border-right: 1px solid #eee; }
    .ib_ul li h3 {
      color: #655;
      font-size: 16px; }
    .ib_ul li p {
      line-height: 30px;
      height: 120px;
      overflow: hidden; }
    .ib_ul li a {
      white-space: nowrap;
      color: #888;
      margin: 0 5px 0 0;
      font-size: 12px; }
  .ib_ul .ib_li {
    padding-left: 0; }

.com_flink, .com_flink a, .com_footer2 {
  font-size: 12px;
  color: gray;
  text-align: center; }

.com_foot {
  background: #fafafa;
  border-top: 1px solid #eee; }

.com_footer {
  width: 980px;
  margin: 0 auto;
  padding: 40px 0 50px; }

.com_footer1 {
  line-height: 17px; }
  .com_footer1 .sep {
    margin: 0 6px;
    color: #ccc; }

.com_flink a:hover {
  color: #c9483c; }

.com_footer2 {
  padding: 10px 0 7px 0; }

.com_footer3 {
  width: 980px;
  height: 16px;
  margin: 0 auto;
  background: url(../../images/shareto_03.jpg) no-repeat center; }
